@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}

.typing-effect {
	overflow: hidden;
	border-right: 0.15em solid black;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 3.5s steps(40, end), blink 0.75s step-end infinite;
}
